@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
  background-color: white;
  font-family: 'Dosis', sans-serif;
}

.general-container {
  width: fit-content;
  margin: 3rem auto;
  box-shadow: rgb(0 0 0 / 17%) 0 1px 31px;
  border-radius: 5px;
}

.btn {
  border: none;
  height: 30px;
  width: 70px;
  font-family: 'Dosis', sans-serif;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  border: 1px solid black;
}

.secondary-title {
  margin: 0;
}

li:nth-child(even) {
  background-color: #f1f1f1;
}

.content-container {
  display: flex;
  gap: 50px;
  margin: 0 40px;
}

.table-title {
  display: flex;
  justify-content: space-between;
}

.scores-table {
  padding: 0;
  line-height: 150%;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 7px;
  border: none;
}

.left-content-container {
  min-width: 250px;
}

.right-content-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 200px;
  margin-bottom: 2rem;
}

.button-submit {
  width: 100px;
  align-self: flex-end;
}

#form {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  min-width: inherit;
}

.submit_text {
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
}
